<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive Details</title>
    <!-- <link rel="stylesheet" herf="static/css/details_style.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/details_style.css')}}">
</head>

<body>

    <def id="datagetter">
        <form method="POST" action="/getdata" id="formm">
            <h1 id="main-heading">Drive Details</h1>
            <input type="text" name="drive_name" id="txtbox" placeholder="Role Name" required>
            <input type="text" name="experienceRange" id="txtbox" placeholder="Experience Range Eg: 0-1" required><br>
            <input type="text" name="mustSkills" id="txtbox" placeholder="Must to Have Skills Eg: AI, ML" required>
            <input type="text" name="location" id="txtbox" placeholder="Location" required><br>

            <input type="text" name="niceSkills" id="txtbox" placeholder="Nice to Have Skills Eg: Docker, Cloud"
                required>
            <label id="lbl">Job Type</label><br>
            <input type="text" name="CTC" id="txtbox" placeholder="CTC Range in LPA eg:1-2" required>
            <select name="emptype" id="emp">
                <option value="">Select Job Type</option>
                <option value="Full-time">Full-time</option>
                <option value="Part-Time">Part-Time</option>
                <option value="Internship">Internship</option>
            </select><br>

            <button type="submit">Launch Drive</button>

        </form>
    </def>

</body>

</html>