<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Intelligent AI Recruit Agent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <script src="{{ url_for('static', filename='js/login_script.js') }}"></script>
</head>

<body>
    <fieldset id="login-fieldset">
        <form method="POST" action="/login">
            <label for="username">Username:</label><br>
            <input type="text" class="txtfields" id="username" name="username" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" class="txtfields" id="password" name="password" required><br><br>
            <center><button type="submit" id="login-button" onclick="cleartxtfields()">Login</button> </center>
        </form>
    </fieldset>

</body>

</html>